<!--Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database.-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<link href="https://fonts.googleapis.com/css?family=Electrolize|Press+Start+2P|Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
		<title>Burger Full Stack App</title>
		
</head>
<body background="assets/img/food.png">
	{{{body}}}

<script src="https://code.jquery.com/jquery.js"></script>
<script src='/assets/js/burger.js'></script>
</body>
</html>