<!--Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database.-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
		<title>Burger Full Stack App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burgers.js"></script><!--check on this-->
</head>
<body>
	{{{body}}}
</body>
</html>